@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        .space-grotesk {
            font-family: "Space Grotesk", serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
          }
          

    }
}